<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PSM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="adminlogin">Admin Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="userlogin">User Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aadhar">Aadhar No</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="amount">Available Amount</a>
      </li>
    </ul>
  </div>
</nav>

<br> 
<router-outlet></router-outlet>
<br>

<div>
  <footer class="footer">
    <div style="  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.751);
    text-align: center;" >
      <span>© Pension Management System</span>
    </div>
  </footer>
</div>
</div>