<div class="container-fluid">
  <router-outlet></router-outlet>
  <h2 align="center">Your available Pension Amount</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <br>
        <img src="#" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-sm">
        <div style="width: 80%;">
          <form>
               <div class="form-group">
                <br>
                <label for="exampleInputPassword1">Available Amount</label>
                <p style="font-size: 32px; font-weight: bold;">
                  Rs <a>999999</a> /-
                </p>
              </div>
              <br>
            </form>
            </div>
      </div>
    </div>
  </div>
  </div>