<div class="container-fluid">
  <router-outlet></router-outlet>
  <br>
  <h2 align="center">Enter your User ID and Password</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="#" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-sm">
        <div style="width: 50vh;">
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">User Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleInputPassword1">User Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <br>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
      </div>
    </div>
  </div>
  
  
    </div>