<div class="container-fluid">
<router-outlet></router-outlet>
<h2 align="center">Enter Aadhar Number</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <img src="#" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <div style="width: 80%;">
        <form>
             <div class="form-group">
              <br>
              <label for="exampleInputPassword1">Enter Aadhar Number</label>
              <input  class="form-control" id="exampleInputPassword1" placeholder="12 Digit Aadhar Number">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
    </div>
  </div>
</div>

</div>